<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="" />
    <title>Connexion</title>
</head>

<body>
    <h2>Connexion</h2>
    <form method="post" action="">
        <div>
            <input type="text" name="id" placeholder="Identifiant" size="20" maxlength=""/> 
            <!--saisie de l'ID-->
        
            <input type="password" name="mdp" placeholder="Mot de passe" size="20" maxlength="" />
            <!--saisie du mdp-->

            <button type="submit">Login</button>
                <label>
                    <input type="checkbox" checked="checked" name="remember"> Remember me
                </label>
        </div>
    </form>	
</body>